.main {
    border-top: 1px solid #e6e6e6;
}

.todo_list__inner {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todo_list {
    transition: all 0.5s ease;
}

.todo_list--dark {
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}