.main {
    border-top: 1px solid #e6e6e6;
}

.todo_list__inner {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.todo__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px;
    border-bottom: 1px solid #ededed;
}

.todo__task {
    max-width: 430px;
    width: 100%;
    word-break: break-all;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 100;
    padding: 15px 0;
    margin: 0;
}

.todo__checker {
    width: 30px;
    height: 30px;
}

.todo__check {
    display: block;
    border-radius: 50%;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    transition: all 0.3s ease;
}

.todo__checkbox:checked + .todo__check {
    opacity: 1;
    border: 1px solid lightgreen;
    background-image: url('../../Assets/Images/tick.svg');
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    transition: all 0.3s ease;
}

.todo__delete {
    padding: 0;
    width: 22px;
    height: 22px;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 30px;
    color: rgba(204, 154, 154, 0.5);
    transition: color 0.2s ease;

    &:hover {
        color: rgba(204, 154, 154, 0.7);
        transition: color 0.2s ease;
    }

    &:active {
        color: rgba(204, 154, 154, 1);
        transition: color 0.2s ease;
    }
}